name: Greetings

on: [pull_request, issues]

jobs:
  greeting:s
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Message that will be displayed on users first issue'
        pr-message: 'Welcome to the Binder community. This is your first pull request, thanks for contributing to the project. 
        Author : [Kab Agouda](https:twitter.com/kabagouda)
        '
